
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "plugins/bootstrap.min";
@import "plugins/ionicons.min";
@import "plugins/animate";
@import "plugins/slider";
@import "plugins/owl.carousel";
@import "plugins/owl.theme";
@import "plugins/jquery.fancybox";
@import "plugins/main";
@import "plugins/responsive";
@import "plugins/slick.scss";
@import "plugins/slick-theme.scss";

#hero-area{
  padding: 330px 0;
  &:before{
    content: none;
  }
}
figure{
  height: 360px;
  box-shadow: none;
  .img-wrapper{
    height: 240px;
    .img-responsive{
      height: 240px;
      min-height: 240px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: inherit;
    }
  }
  figcaption{
    height: 200px;
    overflow: hidden;
    padding: 20px 15px;
    .date{
      padding: 0;
      text-align: center;
      border-right: 2px solid #948e8e;
      .day{
        font-size: 16px;
      }
      .mY{
        font-size: 12px;
      }
    }
    .title{
      padding: 0 0 0 10px;
      h4{
        font-size: 14px;
        text-transform: initial;
        font-weight: bold;
      }
    }
    p{
      font-size: 12px;
    }
  }
}
.navbar-header{
  .navbar-nav{
    li{
      a{
        color: #444;
        text-transform: uppercase;
        &:hover{
          color: #02bdd5;
        }
      }
    }
  }
}

.slick-slider{
  .slick-arrow{
    &:before{
      color: #948e8e;
    }
  }
}